.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.mb-2 mb-md-0
{
	height: 300px;
	width:300px;
	box-shadow:6px 6px 6px black;
	margin-top:80px;
	margin-right:250px;

}
#p8{
	width:250px;
	height:150px;
	margin-left: 60%;!important;
}